
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.group-1 {
    font: size 30px;
    color: blueviolet;
}

/*#group syntax plus whatever you called your heading tags class takes priority over regular h1  with colors, 
because the computer interprets the hashtag syntax followed by whatever you named your html heading
tag to be priorited than a simple h1 tag. There certain instances of this in both HTML and CSS
kind like how important and final when nested in HTML tags work.*/

h1 {
    color:mediumblue;
}

#group-1 {
    color: mediumseagreen;
}

/*See if I don't put the #group syntax followed up by what you named your HTML heading class tag then
 the computer will interpret the h2 color over it, causing the
 text to be mediumvioletred instead of mediumslateblue, when we want to be mediumslateblue..
then it won't work. Try it for yourself to see.*/
#group-2{
    color:mediumslateblue
}


h2 {
    color: mediumvioletred;
}

.group-2 {
    font: size 25px;
    color: purple;
    
}


/*Jason wins, since he is more durable*/
.winner {
    color:brown;     
}

/*While I do love Michael and he is my favorite slasher villain, he was scared of getting his head
deattached from his body by Laurie Strode, when Jason survived getting bombed by people.*/
.loser {
    color:black;
}

/*Roman Bridger is more durable as a human, as he survived bullet wounds in the chest, while without the
overlook hotels power Jack Torrence is just a regular alcoholic human with an axe.*/
.group-2.winner {
    color: orangered;
    
}

.group-2.loser {
    color: goldenrod;
    
}